* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}


.link {
  text-decoration: none;
  color: #000;
}

.select {
  background-color: rgba(234, 234, 234, 0.619) !important;
  
}

.add_btn {
  text-align: left;
}

.idea {
  width: 40%;
  margin-top: 2rem;
}

.comming_soon {
  max-width: 65%;  
}

.delete_img {
  width: 60%;
  border-radius: 15rem;
}



.loader {
  width: 35px;
  height: 35px;
  border: 5px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 