* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.link {
  text-decoration: none;
  color: #000;
}

.select {
  background-color: rgba(234, 234, 234, 0.619) !important;
  color: blueviolet;
}